/* .hp{
    background-color: lightblue;
} */
.homefeed{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr;
    background-color: var(--bg);
    color:var(--text)
}

.leftsidebar,.rightsidebar,.centrefeed{
    border: 1px solid black;
}

